{% extends 'home/base.html' %}

{% block titulo %}500{% endblock %}

{% block contenido %}
	<div id="stylized" class="myform">
		<form id="formulario" method='post' name="form" method="post" action="">{% csrf_token %}
			<img src="{{STATIC_URL}}img/logoAccell2.png" id="imgLogo"/>
			
			<h1>Lo Sentimos!, :(</h1>
			<p>Lo sentimos nuestro servidor se quedo dormido, hacemos todos los esfuerzos
   por despertarlo. Un poquito de paciencia.</p>
			<p>Consulte a su Administrador. </p>
			
			<div class="spacer"></div>
			<a href="javascript:history.back()">Regresar</a>
		</form>
	</div>
{% endblock %}