{% extends 'compras/compras-base.html' %}

{% block titulo %}@Equipos - Detalles @Compras{% endblock %}
{% block contenido %}
<div id="content">
	<section id="row">
		<div class="info">
			<h2>Agregar Detalles a Equipos</h2>
			<div>Registro de Marcas, Modelos, Colores, Precios</div>
		</div>
		<ul>
			<li><strong>{{ informacion }}</strong></li>
		</ul>
		<form class="wufoo" action="/compras/almacen/nuevo/dequipos" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
			<h3>Nuevo Detalle de Equipos</h3>
			<div id="form2">
				<table id="form2">
					{% for field in f_detalles %}
					<tr>
						{%if field.label == 'Folio' %}
									{{ field.as_hidden }}
						{% else %}
						<td><label class="desc">{{field.label}}</label></td>
						<td>
							{{field}}<br>
							<label> {{field.help_text}} <small><span class="req"> {{field.errors}} </span></small></label>
						</td>
						{% endif %}
					</tr>
					{% endfor %}
					
					<tr>
						<td>
							<input class="submit success" type="submit" name='addmarca' value="Agregar una Marca"/>
						</td>
						<td>
							<input class="submit success" type="submit" name='detalles' value="Guardar Detalles"/>
						</td>
					</tr>
				</table>
			</div>
			<div style="clear:both;padding:1em;"></div>
			{% if f_marca %}
			<div id="form2">
				<table id="form2">
					{{f_marca}}
					<tr>
						<td colspan="2">
							<input class="submit success" type="submit" name='gmarca' value="Guardar marca"/>
						</td>
					</tr>
				</table>
			</div>
			{% endif %}
			</form>
			<ul>
				<li id="buttons">
					<a class="success button" href="/compras/almacen/equipos" title="Agregar Nuevo">Agregar Equipos</a>
				</li>
			</ul>
			
	</section>
	<br><br><br>
</div>
{% endblock %}