{% extends 'compras/compras-base.html' %}

{% block titulo %}@Fichas a @Compras{% endblock %}
{% block contenido %}
<div id="content">
	<section id="row">
		<div class="info">
			<h2>Agregar Fichas a Factura</h2>
			<div>Registro de la Serie de Fichas a la Factura de Compras a Almacen</div>
		</div>
		<div id="grid">
			<table id="grid">
				<tr>
					<td id="gridhead">Factura</td>
					<td id="gridhead">Buscar</td>
				</tr>
				<tr>
					<form action='.'  method='GET' enctype="multipart/form-data">{% csrf_token %}
						<td><input type='texto' name='factura' value='{{ b_factura|escape }}'></td>
						<td><input class="submit success" type="submit" value='buscar'></td>
					</form>
				</tr>
			</table>
		</div>


		{% if r_facturas %}
			<h2>Facturas</h2>
			<div id="grid">
				<table id="grid">
					<tr>
						<td id="gridhead">Folio</td>
						<td id="gridhead">Documento</td>
						<td id="gridhead">Proveedor</td>
						<td id="gridhead">Fecha de Factura</td>
						<td id="gridhead">Forma de Pago</td>
						<td id="gridhead">Seleccionar</td>
					</tr>
					{% for item in r_facturas %}
						<tr>
							<td>{{ item.folio|escape}}</td>
							<td>{{ item.documento|escape}}</td>
							<td>{{ item.proveedor|escape}}</td>
							<td>{{ item.fxFactura|date}}</td>
							<td>{{ item.formaPago|escape}}</td>
							<td><a href="/compras/almacen/fichas/?factura={{ item.folio|escape}}">Seleccionar
							</a></td>
						</tr>
					{%endfor %}
				</table>
			</div>
			{%elif b_factura %}
	No hay resultados
		{% endif %}

		<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% if glovales %}
				<span class="req">{{ glovales }}</span>
			{% endif %}
			<div id="grid">
				<table id="grid">
					<tr>
						<td id="gridhead">Factura</td>
						<td id="gridhead">Nominacion</td>
						<td id="gridhead">Importe total de la Serie sin IVA</td>
					</tr>
					<tr>
						<td>{{ f_fichas.0.factura }}</td>
						<td>{{ f_fichas.0.nominacion }}</td>
						<td>{{ f_fichas.0.precioFac }}</td>
					</tr>
					<tr>
						<td>{{ f_fichas.0.factura.errors }}</td>
						<td>{{ f_fichas.0.nominacion.errors }}</td>
						<td>{{ f_fichas.0.precioFac.errors }}</td>
					</tr>
				</table>
			</div>
			<br>
			<br>
		{%if guardados %}
			Fichas Almacenados con exito:{{guardados}}
		{%endif %}
		{%if repetidas %}
			No se guardaron las siguientes Fichas porque ya existen:{{repetidas}}
		{%endif %}
			<h3>Codigos de Barra (Folio de ficha) </h3>
			<div class="info">
				<strong>Nota:</strong> Para realizar el ingreso de fichas, si éstas son en serie: anote el folio inicial y luego el final; para el caso de que sea el folio único, anote el mismo en ambos campos, por último guarde los cambios
			</div>
			<div id="grid">
				<table id="grid">
					<tr>
						<td id="gridhead">{{ f_fichas.0.folio.label }}</td>
					</tr>
					{% for field in f_fichas %}
						<tr>
							<td>{{ field.folio }}{{field.folio.errors}}</td>
						</tr>
					{%endfor %}
				</table>
			</div>

			<ul>
				<li id="buttons">
					<input class="submit success" type="submit" name='fichas' value="Guardar y Agregar mas Fichas >>>"/>
						{%if b_factura %}
							<br>
							<a class="success button" href="/compras/almacen/equipos/?factura={{ b_factura|escape }}" title="Agregar Nuevo">Agregar Equipos</a>
							<a class="success button" href="/compras/almacen/express/?factura={{ b_factura|escape }}" title="Agregar Express a la misma factura">Agregar Express</a>  |
							<a class="success button" href="/compras/almacen/accesorios/?factura={{ b_factura|escape }}" title="Agregar Accesorios a la misma factura">Agregar Accesorios</a>  |
							<a class="success button" href="/compras/almacen/fichas/?factura={{ b_factura|escape }}" title="Agregar Fichas a la misma factura">Agregar Fichas</a>  |
							<a class="success button" href="/compras/almacen/recargas/?factura={{ b_factura|escape }}" title="Agregar Recargas a la misma factura">Agregar Recargas</a> |
							<a class="success button" href="/compras/almacen/reporte/?q={{ b_factura|escape }}" title="Revisar Reporte de la misma factura">Revisar Reporte</a>
						{%endif %}
					<BR /><span class="req">*.Campos Obligatorios. No dejar vacios.</span>
				</li>
			</ul>

		</form>
		{%if fichas %}
				<br>
				<div class="info">
				<h2>Desglose de Series de Fichas en Factura</h2>
				</div>
				<div id="grid">
				<table id="grid">
					<tr>
						<td id="gridhead">No de Fichas</td>
						<td id="gridhead">Desde</td>
						<td id="gridhead">Hasta</td>
						<td id="gridhead">Nominacion</td>
					</tr>
					{% for item in fichas %}
					<tr>
						{% for x in item %}
						<td>{{ x|escape}}</td>
						{%endfor %}
					</tr>
					{%endfor %}
				</table>
				</div>
		{%endif %}
		<strong>{{ informacion }}</strong>
	</section>
	<br><br><br>
</div>
{% endblock %}