{% extends 'compras/compras-base.html' %}

{% block titulo %}@Bienvenido a @Compras{% endblock %}
{% block contenido %}
<div id="content">
	<section id="row">
				<div class="info">
					<h2>Saldos de las Sucursales</h2>
				</div>


			{% if items %}
				
				<h2>Saldo Sucursal {{nItems}}</h2>
				<div id="grid">
				<table id="grid">
					<tr>
						<td id="gridhead">Sucursal</td>
						<td id="gridhead">Saldo</td>
					</tr>
					{% for item in items %}
					<tr>
						<td>{{ item.sucursal|escape}}</td>
						<td>{{ item.saldo|escape}}</td>
					</tr>
					{%endfor %}
				</table>
				</div>
				<div class="pagination">
				    <span class="step-links">
				        {% if items.has_previous %}
				            <a class="success button" href="?pagina={{ items.previous_page_number }}&amp;item={{b_item}}">anterior</a>
				        {% endif %}

				        <span class="current">
				            Pagina {{ items.number }} de {{ items.paginator.num_pages }}.
				        </span>

				        {% if items.has_next %}
				            <a class="success button" href="?pagina={{ items.next_page_number }}&amp;item={{b_item}}">Siguiente</a>
				        {% endif %}
				    </span>
				</div>
			{% endif %}
			
			<strong>{{ informacion }}</strong>
	</section>
	<div style="height:70px;"></div>
</div>
{% endblock %}