{% extends 'compras/compras-base.html' %}

{% block titulo %}@Bienvenido a @Compras{% endblock %}
{% block contenido %}
<div id="content">
	<section id="row">
				<div class="info">
					<h2>Faltantes de Equipos en la Sucursal</h2>
					<div>Seleccione una sucursal para ver los faltantes</div>
				</div>
				<div id="grid">
					<table id="grid">
						<tr>
							<td id="gridhead">Sucursal</td>
							<td id="gridhead">Buscar</td>
						</tr>
						<tr>
							<form action='.'  method='GET' enctype="multipart/form-data">{% csrf_token %}
								<td><input type='text' name='sucursal' value='{{ b_sucursal|escape }}'></td>
								<td><input class="submit success" type="submit" value='buscar'></td>
							</form>
						</tr>
					</table>
				</div>
			{% if r_sucus %}
				<h2>Sucursales</h2>
				<div id="grid">
					<table id="grid">
						<tr>
							<td id="gridhead">Tipo Sucursal</td>
							<td id="gridhead">Nombre</td>
							<td id="gridhead">Encargado</td>
							<td id="gridhead">No Cel Oficina</td>
							<td id="gridhead">Direccion</td>
							<td id="gridhead">Seleccionar</td>
						</tr>
						{% for item in r_sucus %}
						<tr>
							<td>{{ item.tipoSucursal|escape}}</td>
							<td>{{ item.nombre|escape}}</td>
							<td>{{ item.encargado|escape}}</td>
							<td>{{ item.noCelOfi|default:'Sin Asignar'}}</td>
							<td>{{ item.direccion|escape}}</td>
							<td><a href="/compras/faltantes/equipos/?sucursal={{ item.nombre|escape}}">Seleccionar
							</a></td>
						</tr>
						{%endfor %}
					</table>
				</div>
			{%elif b_sucursal %}
	No hay resultados
				{% endif %}

				{% if faltantes %}
				<h3>Detalles de los Faltantes</h3>
			<div id="grid">
				<table id="grid">
					<tr>
						<td id="gridhead">Equipo</td>
						<td id="gridhead">Existencias</td>
						<td id="gridhead">Requiere</td>
						<td id="gridhead">Faltantes</td>
					</tr>
					{% for x in faltantes %}
						<tr>
							<td>{{ x.0|title }}</td>
							<td>{{ x.1|default:'0' }}</td>
							<td>{{ x.2|default:'0' }}</td>
							<td>
								{{ x.3|default:'0' }}
								{% if x.3 >= x.2 %}
								<img src="{{STATIC_URL}}img/icons/stockRed.png" title="Urgente Transferir {{ x.2 }} "/>
								{% elif x.3 < x.2 %}
								<img src="{{STATIC_URL}}img/icons/stockYellow.png" title="Advertencia: Se sugiere surtir {{ x.2 }}"/>
								{% else %}
								<img src="{{STATIC_URL}}img/icons/stockGreen.png" title="Sin Problemas" />
								{% endif %}
							</td>
						</tr>
					{%endfor %}
				</table>
			</div>
				{%else %}
					<div class="info">
						<h2>No hay Faltantes, todo esta por encima del minimo</h2>
					</div>
				{% endif %}

	</section>
	<div style="height:70px;"></div>
</div>
{% endblock %}