{% extends 'compras/compras-base.html' %}

{% block titulo %}@Transferencias No confirmadas - @compras{% endblock %}

{% block contenido %}
<div id="content">
	<section id="row">
		<form class="wufoo" action="." method="GET" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="info">
				<h2>Transferencias</h2>
			</div>
			<ul>
				<li>
					<label class="desc">Folio de Transferencia: <span class="req">*</span></label>
					<div>
						<input class="field text medium" type="text" value="{{ query|escape}}" name="q" title="Buscar Folio de Transferencia"; placeholder="Ej. J Perez" required />
					</div>
					<p class="instruct">Ingrese el folio de Transferencia. Gracias.</p>
				</li>
				<li id="buttons">
					<input name="buscar" class="submit success" type="submit" value="Buscar"/>  |  
					<a class="success button" href="." title="Nueva busqueda">Nueva Busqueda</a>
				</li>
				<li><strong>{{ info }}</strong></li>
			</ul>
		</form>
		
	</section>
	<section id="row">
			<h3>Transferencias</h3>
			{% if transferencias %}
			<div id="grid">
				<table id="grid">
					<tr>
						<th>FOLIO</th>
						<th>FECHA</th>
						<th>SUCURSAL</th>
						<th>ESTADO</th>
						<th>REVISAR</th>
					</tr>
					{% for x in transferencias %}
						<tr>
							<td>{{ x.folio|escape }}</td>
							<td>{{ x.fx_movimiento|date:"Y-m-d h:i a" }}</td>
							<td>{{ x.sucursalDestino.nombre|title }}</td>
							<td>{%if x.confirmacion %}Si{%else %}No{%endif %}</td>
							<td title="Revisar Transferencia">
							<form class="wufoo" action="." method="GET" enctype="multipart/form-data">{% csrf_token %}
								<input name="revisar" type="image" src="/static/img/icons/folder_search.png" title="Revisar Transferencia" value="{{ x.id }}" />
							</form>
							</td>
						</tr>
					{%endfor %}
				</table>
			</div>
			<div class="pagination">
				<span class="step-links">
				        {% if transferencias.has_previous %}
				            <a class="success button" class="success button" href="?pagina={{ transferencias.previous_page_number }}&amp;q={{ query }}">...Anterior</a>
				        {% endif %}

				        <span class="current">
				            Pagina {{ transferencias.number }} de {{ transferencias.paginator.num_pages }}.
				        </span>

				        {% if transferencias.has_next %}
				            <a class="success button" class="success button" href="?pagina={{ transferencias.next_page_number }}&amp;q={{query}}">Siguiente...</a>
				        {% endif %}
				    </span>
			</div>
			{% else %}
				<p>No se encuentran resultados por el momento</p>
			{% endif %}
	</section>
	<div style="height:70px;"></div>
</div>
{% endblock %}