{% extends 'ventas/ventas-base.html' %}

{% block titulo %}@Apartados - Nuevo - @Ventas{% endblock %}

{% block contenido %}
<div id="content">
	{%if buscar %}
	<section id="row">
		<form class="wufoo" action="." method="GET" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="info">
				<h2>Clientes de Apartados</h2>
				<div>Registros de Clientes en la Sucursal</div>
			</div>
			<ul>
				<li class="section first">
					<h3>Buscar Cliente</h3>
				</li>
				<li>
					<label class="desc">Nombre del Cliente: <span class="req">*</span></label>
					<div>
						<input class="field text medium" type="text" value="{{ query|escape}}" name="q" title="Ingrese parcial o totalmente el nombre del cliente"; placeholder="Ej. Juan Perez" required />
					</div>
					<p class="instruct">Ingrese datos del Cliente como Folio | Nombre | direccion | colonia | ciudad </p>
				</li>
				<li id="buttons">
					<input name="buscar" class="submit success" type="submit" value="Buscar Cliente"/>  |  
					<a class="success button" href="/ventas/ventas/apartados/nuevo_apartado/" title="Nueva busqueda">Nueva Busqueda</a>
				</li>
				<li><strong>{{ info }}</strong></li>
				{%if folioVenta %}
				<li><a href="./?print={{ folioVenta }}" class="success button" target="_blank" ><img src="{{STATIC_URL}}img/icons/1366452634_print.png">  Imprimir Ticket</a></li>
				{%endif %}
			</ul>
		</form>
		
	</section>
	{%endif %}
		{% if query %}
		<section id="row">
			<h3>Resultados para "{{ query|escape }}":</h3>
			{% if resultsCli %}
			<div id="grid">
				<table id="grid">
					<tr>
						<td id="gridhead">Folio</td>
						<td id="gridhead">Nombre</td>
						<td id="gridhead">Direccion</td>
						<td id="gridhead">Colonia</td>
						<td id="gridhead">Ciudad</td>
						<td id="gridhead">Ingreso</td>
						<td id="gridhead">Nuevo Apartado</td>
					</tr>
					{% for x in resultsCli %}
					<tr>
						<td>{{ x.folio }}</td>
						<td>{{ x.nombre }}</td>
						<td>{{ x.direccion }}</td>
						<td>{{ x.colonia.colonia }}</td>
						<td>{{ x.ciudad.ciudad }}</td>
						<td>{{ x.fxIngreso|date:"Y-m-d h:i a" }}</td>
						<td title="Agregar Apartado">
							<form class="wufoo" action="." method="GET" enctype="multipart/form-data">{% csrf_token %}
								<input name="nvoA" type="image" src="/static/img/icons/client_account_template.png" value="{{ x.id|escape }}" />
							</form>
						</td>						
					</tr>
					{%endfor %}
				</table>
			</div>
			{% else %}
				<p>El cliente que busca no se encuentra / esta mal escrito/ pertenece a otra Sucursal, verifique sus datos</p>
			{% endif %}
		</section>
		{% endif %}
	
	{%if mostrar %}
	<section id="row">
		<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="info">
				<h2>Nuevo Apartado</h2>
			</div>
			<ul>
				<li class="section first">
					<h3>Asignar Nuevo Apartado a Cliente</h3>
				</li>
				{% for field in form %}
				<li>
					{%if field.label == 'Key' %}
						{{ field.as_hidden }}
					{% else %}
					<label class="desc">{{field.label}}</label> 
					<div>
						{{field}}
					</div>
					<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
					{% endif %}
				</li>
				{% endfor %}
				<li><strong>{{info}}</strong></li>
				{%if folioVenta %}
				<li><a href="./?print={{ folioVenta }}" class="success button" target="_blank" ><img src="{{STATIC_URL}}img/icons/1366452634_print.png">  Imprimir Ticket</a></li>
				{%endif %}
				<li id="buttons">
					{% if boton %}
					<input class="submit success" type="submit" value="Agregar Anticipo"/>
					{%endif %}
					<a class="success button" href="/ventas/ventas/apartados/nuevo_apartado/" title="Nuevo Apartado">Nuevo Apartado</a>
				</li>
			</ul>
		</form>
	</section>
	{%endif %}
</div>
{% endblock %}