{% extends 'ventas/ventas-base.html' %}

{% block titulo %}@Reporte de Activaciones @Gerencia de Ventas{% endblock %}
{% block contenido %}
<div id="content">
	<section id="row">
		<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="info">
				<h2>Reporte de Activaciones : Concentrado</h2>
				<div>Equipos y Express</div>
			</div>
			<ul>
				<li class="section first">
					<h3>Filtrar por fechas:</h3>
				</li>
				{% for field in form %}
				<li>
					{% if field.label != 'Tipo de Activacion' %}

					<label class="desc">{{ field.label }}</label>
					<div>
						{{ field }}
					</div>
					<label> {{field.help_text}} <small><span class="req"> {{field.errors}} </span></small></label>
					{% endif %}
				</li>
				{% endfor %}
				<li><label class="desc">Tipo de Activacion:</label></li>
				<li>
				{% for radio in form.tipoActivacion %}
				    <label>
						||{{ radio.choice_label }}<span class="radio"> <-- {{ radio.tag }}</span>
					</label>
				{% endfor %}
				</li>
				<li id="buttons">
					<input name="buscar" class="submit success" type="submit" value="Consultar"/>  |  
					<a class="success button" href="/ventas/reportes/" title="Nueva Consulta">Nueva Consulta</a>
				</li>
			</ul>
		</form>
		{{ info }}
	</section>
	{% if query %} 
	<section id="row">
		<h3>Resultados para "{{ query|escape }}":</h3>
		<hr style="clear:both;">
		<div id="grid">
			Equipos:
		
			{% if resultsEq %}
			<table id="grid">
				<tr>
					<td id="gridhead">Sucursal</td>
					<td id="gridhead">Tipo Activacion</td>
					<td id="gridhead">Equipo</td>
					<td id="gridhead">IMEI</td>
					<td id="gridhead">ICC</td>
					<td id="gridhead">NO.ASIGNADO</td>
					<td id="gridhead">Vendedor</td>
					<td id="gridhead">Fecha</td>
				</tr>
				{% for equipoA in resultsEq %}
					<tr>
						<td>{{ equipoA.sucursal|escape }} </td>
						<td>{{ equipoA.tipoActivacion.tipo|escape}}</td>
						<td>{{ equipoA.equipo.detallesEquipo.marca.marca|escape}} {{ equipoA.equipo.detallesEquipo.modelo|escape}}</td>
						<td>{{ equipoA.equipo.imei|escape}}</td>
						<td>{{ equipoA.equipo.icc|escape}}</td>
						<td>{{ equipoA.equipo.noCell|escape}}</td>
						<td>{{ equipoA.empleado.curp|escape}}</td>
						<td>{{ equipoA.fxActivacion|date:"Y-m-d h:i a"}}</td>
					</tr>
				{%endfor %}
			</table>
			{% else %}
			<strong>No Hay resultados</strong>
			{% endif %}
		</div>
		<hr>
		<div style="height:40px;"></div>
		<div id="grid">
			Express:
			{% if resultsExp %}
			<table id="grid">
				<tr>
					<td id="gridhead">Sucursal</td>
					<td id="gridhead">Tipo Activacion</td>
					<td id="gridhead">ICC</td>
					<td id="gridhead">NO.ASIGNADO</td>
					<td id="gridhead">Vendedor</td>
					<td id="gridhead">Fecha</td>
				</tr>
				{% for expressA in resultsExp %}
					<tr>
						<td>{{ expressA.sucursal|escape }} </td>
						<td>{{ expressA.tipoActivacion.tipo|escape}}</td>
						<td>{{ expressA.express.icc|escape}}</td>
						<td>{{ expressA.express.noCell|escape}}</td>
						<td>{{ expressA.empleado.curp|escape}}</td>
						<td>{{ expressA.fxActivacion|date:"Y-m-d h:i a"}}</td>
					</tr>
				{%endfor %}
			</table>
			{% else %}
			<strong>No Hay resultados</strong>
			{% endif %}
		</div>

	</section>
	{% endif %}
<br><br><br>
</div>
{% endblock %}