{% extends 'ventas/ventas-base.html' %}

{% block titulo %}@Solicitudes de Clientes - Nuevo Producto - @Ventas{% endblock %}

{% block contenido %}
<div id="content">
	<section id="row">
		<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="info">
					<h2>Agregar Solicitud de Cliente - Pedidos</h2>
				</div>
				<ul>
					<li class="section first">
						<h3>Datos Generales</h3>
					</li>
					<li><strong>{{ info }}</strong></li>
					{% for field in form %}
						<li>
							<label class="desc">{{field.label}}</label> 
							<div>
								{{field}}
							</div>
							<label><small> {{field.help_text}} </small><span class="req"> {{field.errors}} </span></label>
						</li>
					{% endfor %}
					<li id="buttons">
						<input class="submit success" type="submit" value="Guardar"/> |  
						<a class="success button" href="/ventas/ventas/pedidos/" title="Agregar Nuevo">Nueva Solicitud</a> 
						<BR /><span class="req">*.Campos Obligatorios. No dejar vacios.</span>
					</li>
				</ul>
			</form>
	</section>
	{%if enviado %}
	<section id="row">
		<div id="grid">
			<table id="grid">
				<tr>
					<td id="gridhead">Fecha</td>
					<td id="gridhead">Folio</td>
					<td id="gridhead">Producto</td>
					<td id="gridhead">Estado</td>
				</tr>
				{%for x in enviado %}
				<tr>
					<td>{{ x.fxNuevoProducto|date:"Y-m-d h:i a" }}</td>
					<td>{{ x.folio }}</td>
					<td>{{ x.nuevoProducto }}</td>
					<td>{{ x.estado.estado }}</td>
				</tr>
				{%endfor %}
			</table>
		</div>
	</section>
	{%endif %}
	<br>
	<br>
</div>
{% endblock %}