{% extends 'ventas/ventas-base.html' %}

{% block titulo %}@Agregar Nueva Portabilidad - @Ventas{% endblock %}

{% block contenido %}
<div id="content">
	<div id="row">
		<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="info">
					<h2>Agregar Nueva Portabilidad</h2>
					<div>Registro de Portabilidades</div>
				</div>
				<ul>
					<li class="section first">
						<h3>Datos Generales</h3>
					</li>
					<li><hr><strong>Cliente</strong><hr></li>
					{% for field in form %}
						<li>
							<label class="desc">{{field.label}}</label> 
							<div>
								{{field}}
							</div>
							<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
						</li>
					{% endfor %}
					<li><hr><strong>Datos Portabilidad:</strong><hr> </li>
					{% for field in form2 %}
						<li>
							<label class="desc">{{field.label}}</label> 
							<div>
								{{field}}
							</div>
							<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
						</li>
					{% endfor %}
					<li>
						<hr><label class="desc">Datos de equipo:(opcional)</label><hr>
						<p>Esta informacion es opcional, si tiene costo, favor de llenar todos los campos
							en caso contrario, de que el equipo no tenga costo anote, los datos del equipo y las observaciones 
							de entrega de &eacute;ste. Gracias.</p> </li>
					{% for field in form3 %}
						<li>
							<label class="desc">{{field.label}}</label> 
							<div>
								{{field}}
							</div>
							<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
						</li>
					{% endfor %}
					<li><hr><p><strong>{{ info }}</strong></p><hr></li>
					<li id="buttons">
						<input class="submit success" type="submit" value="Agregar Portabilidad"/> |  
						<a class="success button" href="/ventas/portabilidades/agregar/" title="Agregar Nuevo">Nueva Portabilidad</a>
						<BR /><span class="req">*.Campos Obligatorios. No dejar vacios.<BR></span>
					</li>
				</ul>
			</form>
			
			<br>
	</div>
</div>
{% endblock %}