{% extends 'ventas/ventas-base.html' %}

{% block miscript %} 
<link rel="stylesheet" href="{{STATIC_URL}}css/tabstyle.css" type="text/css">
{% endblock %}

{% block titulo %}@Venta Mayoreo - Recargas - @Ventas{% endblock %}

{% block contenido %}
<div id="content">
	<section id="row">
		<div class="info">
			<h3><strong>Registro de Ventas</strong>
				<br>Elija Tipo de Venta:
			</h3>
		</div>
		<div id="tabContainer">
		    <div id="tabs">
			    <ul>
					<li id="tabHeader_1">Recargas</li>
				</ul>
			</div>
			<div id="tabscontent">
				<div class="tabpage" id="tabpage_1">
					<form class="wufoo" name="addRec" action="." method="GET" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="info">
							<h2>Venta de Recargas</h2>
							<div>Registro de Ventas de Recargas Electronicas</div>
						</div>
						<ul>
							<li class="section first">
								<h3></h3>
							</li>
							{% for field in recForm %}
								<li>
									<label class="desc">{{field.label}}</label> 
									{{field}}
									<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
								</li>
							{% endfor %}
							<br>
							{% for field in cliente %}
								<li>
									<label class="desc">{{field.label}}</label> 
										{{field}}
									<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
								</li>
							{% endfor %}
							<input type="hidden" name="qRec" value="recargasForm"/>
							<li id="buttons">
								<input type="hidden" name="vtaGral" value="{{vtaGenerada}}"/>
									<input name="addRec" class="submit success" type="image" src="/static/img/1362824176_shoppingbasket--add.png" value="producto"/>
							</li>
						</ul>
					</form>
				</div> 
			</div>
		</div>	
		<script src="{{STATIC_URL}}js/tabs_old.js"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1332079-8']);
		  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
		<div id="grid">
			{%if resultAdd %}
				<p><strong> {{resultAdd}} </strong></p>
			{%endif %}
		</div>
	</section>
	<section id="row">
		<h3><strong>Folio de Venta:</strong>{{ vtaGenerada }} </h3>
			<div id="grid" style="float:left;width:70%;">
				<table id="grid">
					<tr>
						<td id="gridhead">Producto</td>
						<td id="gridhead">Descripcion</td>
						<td id="gridhead">Importe</td>
					</tr>
					{%if  recVendido %}
						
						{%for recV in recVendido %}
						<tr>
							{%if vtaGenerada == recV.venta.folioVenta %}
								<td>Recarga {{recV.recarga.montos.monto}}</td>
								<td>{{recV.recarga.folio}}</td>
								<td>{{recV.precVenta}} </td>
							{%endif %}
						</tr>
						{%endfor %}
					{%else %}
						<tr>
							<td colspan="3">NO HAY PRODUCTOS AGREGADOS</td>
						</tr>
					{%endif %}
				</table>
			</div>
			<img src="/static/img/1362823556_shopping-basket-full.png" style="float:right;padding:3%">
			<div style="clear:both;"></div>
	</section>
	<section id="row">
		<h3>Caja: Cobrar Venta</h3>
			<form class="wufoo" action="." name="caja" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
				<ul>
					{% for field in vtaForm %}
						<li>
							<label class="desc">{{field.label}}</label> 
							<div>
								{{field}}
							</div>
							<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
						</li>
					{% endfor %}
					<li><hr><strong>{{info}}</strong><hr></li>
					{%if folioVenta %}
					<li><a href="./?print={{ folioVenta }}" class="success button" target="_blank" ><img src="{{STATIC_URL}}img/icons/1366452634_print.png">  Imprimir Ticket</a></li>
					<li><a href="/ventas/facturacion/productos/?venta={{ folioVenta }}" onClick="window.open(this.href, this.target, 'width=900,height=700,toolbar=0,menubar=1,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0'); return false;"><img src="/static/img/1353395614_folder_inbox2.png" /> <br>¿Facturar esta venta?</a></li>
					{%endif %}
					<li id="buttons">
						<input name="cobrar" title="Cobrar venta" class="submit success" type="image" src="/static/img/1362824182_shoppingbasket-accept.png" value="cobrar"/>    ||     
						<input name="cancelaVta" title="Cancelar venta" class="submit success" type="image" src="/static/img/1362824162_shoppingbasket-delete.png" value="cancelar"/>
					</li>
				</ul>
			</form>
	</section>
	<br><br>
</div>
{% endblock %}