{% extends 'ventas/ventas-base.html' %}
{% block miscript %} 
<link rel="stylesheet" href="{{STATIC_URL}}css/tabstyle.css" type="text/css">
{% endblock %}

{% block titulo %}@Venta de Productos - Menudeo - @Ventas{% endblock %}

{% block contenido %}
<div id="content">
	<section id="row">
		<div class="info">
			<h3><strong>Registro de Ventas</strong>
				<br>Elija Tipo de Venta:
			</h3>
		</div>
		<div id="tabContainer">
		    <div id="tabs">
			    <ul>
					<li id="tabHeader_1">Equipos</li>
					<li id="tabHeader_2">Express</li>
					<li id="tabHeader_3">Accesorios</li>
					<li id="tabHeader_4">Fichas</li>
					<li id="tabHeader_5">Recargas</li>
					<li id="tabHeader_6">Planes</li>
					<li id="tabHeader_7">Deposito de Rentas</li>
				</ul>
			</div>
			<div id="tabscontent">
				<div class="tabpage" id="tabpage_1">
					<form class="wufoo" name="addEq" action="." method="GET" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="info"><h2>Venta de equipos</h2></div>
						<ul>
							<li class="section first"><h3>Agregar Equipos</h3></li>
							<li>
								<label class="desc">IMEI: <span class="req">*</span></label>
								<input class="field text medium" type="number" min="10000000000000" max="900000000000000" value="{{ queryEq|escape}}" name="qEq" title="Ingrese los 15 digitos del equipo"; placeholder="359121076754241" autofocus required />
							</li>
							<li id="buttons">
								<input type="hidden" name="vtaGral" value="{{vtaGenerada}}"/>
								<input name="addEq" class="submit success" type="image" src="/static/img/1362824176_shoppingbasket--add.png" value="equipo"/>
							</li>
						</ul>
					</form>
				</div>  
				<div class="tabpage" id="tabpage_2">
					<form class="wufoo" name="addExp" action="." method="GET" enctype="multipart/form-data">
						{% csrf_token %}
					    <div class="info"><h2>Venta Chip Express</h2></div>
							<ul>
								<li class="section first">
									<h3>Venta Express</h3>
								</li>
							
								<li>
									<label class="desc">ICC: <span class="req">*</span></label>
									<input class="field text medium" type="number" min="100000000000000000" max="9999999999999999999" value="{{ queryExp|escape}}" name="qExp" title="Ingrese los 19 digitos de la express"; placeholder="8952020007671606148" autofocus required />
								</li>
								<li id="buttons">
									<input type="hidden" name="vtaGral" value="{{vtaGenerada}}"/>
									<input name="addExp" class="submit success" type="image" src="/static/img/1362824176_shoppingbasket--add.png" value="producto"/>
								</li>
							</ul>
					</form>
				</div>
				<div class="tabpage" id="tabpage_3">
					<form class="wufoo" name="addAcc" action="." method="GET" enctype="multipart/form-data">
						{% csrf_token %}
					    <div class="info"><h2>Venta de Accesorios</h2></div>
							<ul>
								<li class="section first">
									<h3>Agregar Folio de Accesorio</h3>
								</li>
							
								<li>
									<label class="desc">FOLIO: <span class="req">*</span></label>
									<input class="field text medium" type="text" value="{{ queryAcc|escape}}" name="qAcc" title="Ingrese parte del codigo de barras"; placeholder="Ej. FMV03-10293" required />
								</li>
								<li id="buttons">
									<input type="hidden" name="vtaGral" value="{{vtaGenerada}}"/>
									<input name="addAcc" class="submit success" type="image" src="/static/img/1362824176_shoppingbasket--add.png" value="producto"/>
								</li>
							</ul>
					</form>
				</div>
				<div class="tabpage" id="tabpage_4">
					<form class="wufoo" name="addFic" action="." method="GET" enctype="multipart/form-data">
						{% csrf_token %}
					    <div class="info"><h2>Fichas</h2></div>
							<ul>
								<li class="section first">
									<h3>Venta de fichas amigo Kit</h3>
								</li>
							
								<li>
									<label class="desc">Folio: <span class="req">*</span></label>
									<input class="field text medium" type="number" min="100000000000" max="9999999999999" value="{{ queryFic|escape}}" name="qFic" title="Ingrese el folio de inicio de ficha"; placeholder="703019103524" autofocus required />
								</li>
								<li id="buttons">
									<input type="hidden" name="vtaGral" value="{{vtaGenerada}}"/>
									<input name="addFic" class="submit success" type="image" src="/static/img/1362824176_shoppingbasket--add.png" value="producto"/>
								</li>
							</ul>
					</form>
				</div>
				<div class="tabpage" id="tabpage_5">
					<form class="wufoo" name="addRec" action="." method="GET" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="info">
							<h2>Venta de Recargas</h2>
							<div>Registro de Ventas de Recargas Electronicas</div>
						</div>
						<ul>
							<li class="section first">
								<h3></h3>
							</li>
							{% for field in recForm %}
								<li>
									<label class="desc">{{field.label}}</label> 
									{{field}}
									<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
								</li>
							{% endfor %}
							<br>
							<input type="hidden" name="qRec" value="recargasForm"/>
							<li id="buttons">
								<input type="hidden" name="vtaGral" value="{{vtaGenerada}}"/>
								<input name="addRec" class="submit success" type="image" src="/static/img/1362824176_shoppingbasket--add.png" value="producto"/>
							</li>
						</ul>
					</form>
				</div> 
				<div class="tabpage" id="tabpage_6">
					<form class="wufoo" name="addPlan" action="." method="GET" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="info">
							<h2>Planes</h2>
							<div>Registro de Planes</div>
						</div>
						<ul>
							<li class="section first">
								<h3></h3>
							</li>
							{% for field in planForm %}
								<li>
									<label class="desc">{{field.label}}</label> 
									{{field}}
									<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
								</li>
							{% endfor %}
							<br>
							<li id="buttons">
								<input type="hidden" name="vtaGral" value="{{vtaGenerada}}"/>
								<input name="addPlan" class="submit success" type="image" src="/static/img/1362824176_shoppingbasket--add.png" value="producto"/>
							</li>
						</ul>
					</form>
				</div>
				<div class="tabpage" id="tabpage_7">
					<form class="wufoo" name="addRentas" action="." method="GET" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="info">
							<h2>Rentas</h2>
							<div>Registro de Rentas de Deposito de Planes</div>
						</div>
						<ul>
							<li class="section first">
								<h3></h3>
							</li>
							{% for field in rentaForm %}
								<li>
									<label class="desc">{{field.label}}</label> 
									{{field}}
									<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
								</li>
							{% endfor %}
							<br>
							<li id="buttons">
								<input type="hidden" name="vtaGral" value="{{vtaGenerada}}"/>
								<input name="addRentas" class="submit success" type="image" src="/static/img/1362824176_shoppingbasket--add.png" value="producto"/>
							</li>
						</ul>
					</form>
				</div> 
			</div>
		</div>	
		<script src="{{STATIC_URL}}js/tabs_old.js"></script>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-1332079-8']);
			  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		<div id="grid">
			{%if resultAdd %}
				<p><strong> {{resultAdd}} </strong></p>
				<hr>
				{%if producto %}
				<a href="/ventas/papeleta/nueva/?producto={{producto}}" onClick="window.open(this.href, this.target, 'width=900,height=700,toolbar=0,menubar=1,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0'); return false;"><img src="/static/img/1353395614_folder_inbox2.png" /> <br>Agregar Papeleta</a>
				{%endif %}
			{%elif queryEq or queryExp or queryAcc or queryFic %}
			<p>El Producto Ingresado no Pertenece o no Existe en Almacen.</p>
			{%endif %}
		</div>
	</section>
	<section id="row">
		<h3><strong>Folio de Venta:</strong>{{ vtaGenerada }} </h3>
			<div id="grid" style="float:left;width:70%;">
				<table id="grid">
					<tr>
						<td id="gridhead">Producto</td>
						<td id="gridhead">Descripcion</td>
						<td id="gridhead">Importe</td>
					</tr>
					{%if eqVendido or expVendido or accVendido or ficVendido or recVendido or planVendido or rentaVendido %}
						{%for equipoV in eqVendido %}
						<tr>
							{%if vtaGenerada == equipoV.venta.folioVenta %}
								<td>Equipo {{equipoV.equipo.detallesEquipo.marca.marca}} {{equipoV.equipo.detallesEquipo.modelo}} </td>
								<td>Imei: {{equipoV.equipo.imei}} Icc: {{equipoV.equipo.icc}}</td>										
								<td>{{equipoV.precVenta}} </td>
							{%endif %}
						</tr>
						{%endfor %}
							
						{%for expV in expVendido %}
						<tr>
							{%if vtaGenerada == expV.venta.folioVenta %}
								<td>Express {{expV.expres.detallesExpres.tipoIcc.tipo}}</td>
								<td>{{expV.expres.icc}}</td>
								<td>{{expV.precVenta}} </td>
							{%endif %}
						</tr>
						{%endfor %}
							
						{%for ficV in ficVendido %}
						<tr>
							{%if vtaGenerada == ficV.venta.folioVenta %}
								<td>Ficha {{ficV.ficha.nominacion.nominacion}}</td>
								<td>{{ficV.ficha.folio}}</td>
								<td>{{ficV.precVenta}} </td>
							{%endif %}
						</tr>
						{%endfor %}
						
						{%for acV in accVendido %}
						<tr>
							{%if vtaGenerada == acV.venta.folioVenta %}
								<td>Acc. {{acV.accesorio.detallesAccesorio.seccion.seccion}} | {{acV.accesorio.codigoBarras}}</td>
								<td>{{acV.accesorio.detallesAccesorio.marca}} {{acV.accesorio.detallesAccesorio.descripcion}}</td>
								<td>{{acV.precVenta}} </td>
							{%endif %}
						</tr>
						{%endfor %}
							
						{%for recV in recVendido %}
						<tr>
							{%if vtaGenerada == recV.venta.folioVenta %}
								<td>Recarga {{recV.recarga.montos.monto}}</td>
								<td>{{recV.recarga.folio}} <br> Observaciones:<br>{{ recV.observaciones|default:'Ninguna'}}</td>
								<td>{{recV.precVenta}} </td>
							{%endif %}
						</tr>
						{%endfor %}

						{%for planV in planVendido %}
						<tr>
							{%if vtaGenerada == planV.venta.folioVenta %}
								<td>Plan {{planV.plan.plan}}</td>
								<td>{{planV.observacion|default:'Ninguna'}}</td>
								<td>{{planV.precVenta}} </td>
							{%endif %}
						</tr>
						{%endfor %}

						{%for rV in rentaVendido %}
						<tr>
							{%if vtaGenerada == rV.venta.folioVenta %}
								<td>Renta</td>
								<td>Cuenta: {{rV.numeroReferencia}} <br> Observaciones:<br>{{ rV.observacion|default:'Ninguna'}} </td>
								<td>{{rV.abono}} </td>
							{%endif %}
						</tr>
						{%endfor %}
					{%else %}
						<tr>
							<td colspan="3">NO HAY PRODUCTOS AGREGADOS</td>
						</tr>
					{%endif %}
				</table>
			</div>
			<img src="/static/img/1362823556_shopping-basket-full.png" style="float:right;padding:3%">
			<div style="clear:both;"></div>
	</section>
	<section id="row">
		<h3>Caja: Cobrar Venta de Contado</h3>
			<form class="wufoo" action="." name="caja" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
				<ul>
					{% for field in vtaForm %}
						<li>
							<label class="desc">{{field.label}}</label> 
							<div>
								{{field}}
							</div>
							<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
						</li>
					{% endfor %}
					<br>
					<li><br><strong>{{info}}</strong><br></li>
					{%if folioVenta %}
					<li><a href="./?print={{ folioVenta }}" class="success button" target="_blank" ><img src="{{STATIC_URL}}img/icons/1366452634_print.png">  Imprimir Ticket</a></li>
					<li><a href="/ventas/facturacion/productos/?venta={{ folioVenta }}" onClick="window.open(this.href, this.target, 'width=900,height=700,toolbar=0,menubar=1,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0'); return false;"><img src="/static/img/1353395614_folder_inbox2.png" /> <br>¿Facturar esta venta?</a></li>
					{%endif %}
					<li id="buttons">
						<input name="cobrar" title="Cobrar venta" class="submit success" type="image" src="/static/img/1362824182_shoppingbasket-accept.png" value="cobrar"/> |  
						<input name="cancelar" title="Cancelar venta" class="submit success" type="image" src="/static/img/1362824162_shoppingbasket-delete.png" value="cancelar"/>
					</li>
				</ul>
			</form>
	</section>
	<br><br>
</div>
{% endblock %}