{% extends 'admingral/admin-base.html' %}

{% block titulo %}@Bienvenido al Sistema @Administrador{% endblock %}

{% block contenido %}
<div id="content">
	<section id="row">
		<p>Por Favor, especifica tu correo electronico, para re-establecer la contraseña del usuario</p>

<form class="wufoo" action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
	</section>
</div>
{% endblock %}