{% extends 'planes/planes-base.html' %}

{% block titulo %}@Consulta de Solicitudes -Todas- @Planes Tarifarios{% endblock %}

{% block contenido %}
<div id="content">
	{%if buscar %}
	<section id="row">
		<form class="wufoo" action="." method="GET" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="info">
				<h2>Clientes de Portabilidades</h2>
				<div>Portabilidades con equipo a flexear con o sin costo</div>
			</div>
			<ul>
				<li class="section first">
					<h3>Buscar Cliente:</h3>
				</li>
				<li>
					<label class="desc">Cliente: <span class="req">*</span></label>
					<div>
						<input class="field text medium" type="text" value="{{ query|escape}}" name="q" title="Buscar Cliente, incluya nombre o folio del cliente o sucursal"; placeholder="Ej. Jhon Perez" required />
					</div>
					<p class="instruct">Ingrese Nombre del cliente | folio del cliente | sucursal, para realizar el filtrado, Gracias.</p>
				</li>
				<li id="buttons">
					<input name="buscar" class="submit success" type="submit" value="Buscar"/>  |  
					<a class="success button" href="." title="Nueva busqueda">Nueva Busqueda</a>
				</li>
			</ul>
		</form>
		{{ info }}
	</section>
	{%endif %}
	<br>
	{% if query %}
		<section id="row">
			<h3>Resultados para "{{ query|escape }}":</h3>
			{% if results %}

			<div id="grid">
				<table id="grid">
					<tr>
						<td id="gridhead">Sucursal</td>
						<td id="gridhead">Nombre</td>
						<td id="gridhead">Direccion</td>
						<td id="gridhead">Equipo</td>
						<td id="gridhead">Costo</td>
						<td id="gridhead" title="Ultima Fecha de Revision">Fecha</td>
						<td id="gridhead">Estado</td>
						<td id="gridhead" title="Seleccione una accion a realizar">Revisar</td>
					</tr>
					{% for porta in results %}
						{% if porta.cliente.tipoCliente == 'Portabilidad con costo' %}
							{%for x in ccosto %}
							<tr>
								{% if porta.cliente.id == x.cliente.id %}
								<td>{{ x.sucursal.nombre|escape }} </td>
								<td>{{ x.cliente.nombre|escape}} </td>
								<td>{{ x.cliente.direccion|escape }}.{{ x.cliente.colonia.colonia|escape }}, {{ x.cliente.ciudad.ciudad|escape }}, {{ x.cliente.ciudad.estado|escape }}.</td>
								<td>{{ x.marcaModelo|escape }} {{ x.imei|escape }} <br> {{ x.cliente.fxIngreso|date:"Y-m-d h:i a"}} </td>
								<td>Si</td>
								<td  title="Ultima Fecha de Revision">{{ x.fxRevision|date:"Y-m-d h:i a" }} </td>
								{% if x.estado.estado == 'Entregado a Cliente' or x.estado.estado == 'Cancelado por el Cliente'  %}
								<td colspan="2">El equipo ha sido cancelado/entregado por el cliente.</td>
								{%else %}
								<td>{{ x.estado.estado|escape }} </td>
									<td>
										<form class="wufoo" action="." method="GET" enctype="multipart/form-data">{% csrf_token %}
											<input name="updCPorta" type="image" src="/static/img/icons/report_edit.png" title="Actualizar Datos" value="{{ x.id|escape }}" />
										</form>
									</td>
								{%endif %}
								{%endif %}
							</tr>
							{% endfor %}
						{% elif porta.cliente.tipoCliente == 'Portabilidad sin costo' %}
							{% for x in scosto  %}
								<tr>
									{% if porta.cliente.id == x.portabilidad.cliente.id %}
									<td>{{ x.portabilidad.sucursal.nombre|escape }} </td>
									<td>{{ x.portabilidad.cliente.nombre|escape}} </td>
									<td>{{ x.portabilidad.cliente.direccion|escape }}.{{ x.portabilidad.cliente.colonia.colonia|escape }}, {{ x.portabilidad.cliente.ciudad.ciudad|escape }}, {{ x.portabilidad.cliente.ciudad.estado|escape }}.</td>
									<td>{{ x.marcaModelo|escape }} </td>
									<td>No</td>
									<td  title="Ultima Fecha de Revision">{{ x.fxRevision|date:"Y-m-d h:i a" }} </td>
									{% if x.estado.estado == 'Entregado a Cliente' or x.estado.estado == 'Cancelado por el Cliente'  %}
									<td colspan="2">El equipo ha sido cancelado/entregado por el cliente.</td>
									{%else %}
									<td>{{ x.estado.estado|escape }} </td>
									<td>
										<form class="wufoo" action="." method="GET" enctype="multipart/form-data">{% csrf_token %}
											<input name="updSPorta" type="image" src="/static/img/icons/report_edit.png" title="Actualizar Datos" value="{{ x.id|escape }}" />
										</form>
									</td>
									{%endif %}
									{%endif %}
								</tr>
							{%endfor %}
						
						{% endif %}

					{%endfor %}
				</table>
			</div>
			{% else %}
				<p>El cliente no se encuentra o no pertenece a esta seccion. <br> verifique sus datos</p>
			{% endif %}
		</section>
	{% endif %}
		<br>
	{%if mostrarf %}
	<section id="row">
		<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="info">
					<h2>Seguimiento de Flexeos por Portabilidad</h2>
					<div>Actualizacion de Datos en Flexeos por Portabilidad</div>
				</div>
				<ul>
					
					<li class="section first">
						<h3>Datos Generales</h3>
					</li>
					{% if mostrar %}
						{% for field in formS %}
							<li>
								{%if field.label == 'Key' %}
									{{ field.as_hidden }}
								{% else %}
								<label class="desc">{{field.label}}</label> 
								<div>
									{{field}}
								</div>
								<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
								{% endif %}
							</li>
						{% endfor %}
					{% else %}
						{% for field in formC %}
							<li>
								{%if field.label == 'Key' %}
									{{ field.as_hidden }}
								{% else %}
								<label class="desc">{{field.label}}</label> 
								<div>
									{{field}}
								</div>
								<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
								{%endif %}
							</li>
						{% endfor %}		
					{% endif %}
					
					<li><strong>{{ info }}</strong></li>
					<li id="buttons">
						{%if boton == False %}
						<input class="submit success" type="submit" value="Actualizar Seguimiento"/> |  
						{%endif %}
						<a class="success button" href="." title="Buscar Solicitudes sin revisar">Buscar Solicitudes</a> <br>
						<BR /><span class="req">*.Campos Obligatorios. No dejar vacios.</span>
					</li>

				</ul>
		</form>			
	</section>
	{%endif %}
	<br><br><br>
</div>
{% endblock %}