{% extends 'planes/planes-base2.html' %}

{% block titulo %}@Seguimiento de Planes @Planes{% endblock %}

{% block contenido %}
<div id="content2">
	<section id="row">
		<form class="wufoo" action="." method="GET" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="info">
				<h2>Solicitudes de Clientes</h2>
				<div>Solicitudes de Planes Tarifarios Registradas en Sucursales</div>
			</div>
			<ul>
				<li class="section first">
					<h3>Buscar Cliente:</h3>
				</li>
				<li>
					<label class="desc">Cliente: <span class="req">*</span></label>
					<div>
						<input class="field text medium" type="text" value="{{ query|escape}}" name="q" title="Buscar Cliente por nombre | direccion | folio de solicitud"; placeholder="Ej. J Perez" required />
					</div>
					<p class="instruct">Ingrese Nombre del cliente | direccion | folio de Solicitud. Gracias.</p>
				</li>
				<li id="buttons">
					<input name="buscar" class="submit success" type="submit" value="Buscar"/>  |  
					<a class="success button" href="." title="Nueva busqueda">Nueva Busqueda</a>
				</li>
				<li><strong>{{ info }}</strong></li>
			</ul>
		</form>
		
	</section>
	<section id="row">
			<h3>Solicitudes Ingresadas:</h3>
			{% if solicitudes %}
			<div id="grid">
				<table id="twoCol2">
					<tr>
						<th>FOLIO</th>
						<th>FECHA</th>
						<th>SUCURSAL</th>
						<th>VENDEDOR</th>
						<th>CLIENTE</th>
						<th>PLAN</th>
						<th>EQUIPO SOLICITADO</th>
						<th>ESTADO</th>
						<th cosplan="2">REVISAR</th>
					</tr>
					{% for x in solicitudes %}
						<tr>
							<td>{{ x.folio|escape }}</td>
							<td>{{ x.fxSolicitud|date }}</td>
							<td>{{ x.sucursal.nombre|title }}</td>
							<td>{{ x.vendedor.curp|upper }}</td>
							<td>{{ x.nombre|title }} {{ x.aPat|title }} {{ x.aMat|title}}</td>
							<td>{{ x.plan.plan|title }} ${{x.plan.costo|default:'0'}}</td>
							<td>{{ x.estado.estado|title }}<br>{{x.fxModificacion|date}}</td>
							<form class="wufoo" action="/planes/seguimiento/" method="GET" enctype="multipart/form-data">{% csrf_token %}
							<td title="Nuevo Estado de la Solicitud">
								{% for field in form %}
									{{field}}
								{% endfor %}
							</td>	
							<td>
								<input name="updEdo" type="image" src="/static/img/icons/zoom_refresh.png" title="Actualizar Solicitud" value="{{ x.id }}" />
							</td>
							</form>
						</tr>
					{%endfor %}
				</table>
			</div>
			<div class="pagination">
				<span class="step-links">
				        {% if solicitudes.has_previous %}
				            <a class="success button" class="success button" href="?pagina={{ solicitudes.previous_page_number }}&amp;q={{ query }}">...Anterior</a>
				        {% endif %}

				        <span class="current">
				            Pagina {{ solicitudes.number }} de {{ solicitudes.paginator.num_pages }}.
				        </span>

				        {% if solicitudes.has_next %}
				            <a class="success button" class="success button" href="?pagina={{ solicitudes.next_page_number }}&amp;q={{query}}">Siguiente...</a>
				        {% endif %}
				    </span>
			</div>
			{% else %}
				<p>El cliente no se encuentra o no pertenece a esta seccion. <br> verifique sus datos</p>
			{% endif %}
	</section>
	<br><br><br>
</div>
{% endblock %}