<!DOCTYPE>
<html>
<header></header>
<body>

     ____          //   ) )                                              
   //             ((                  ___    __  ___  ___      _   __    
  //__     ____     \\     //   / / ((   ) )  / /   //___) ) // ) )  ) ) 
      ) )             ) ) ((___/ /   \ \     / /   //       // / /  / /  
((___/ /       ((___ / /      / / //   ) )  / /   ((____   // / /  / / 
<br>
/* MAIN */<br>
  Develop & Main Design: Fatima Hernández<br>
  Twitter: @fai_hdez<br>


/* SITE */<br>
  Last update: 28/03/2014<br>
  Doctype: HTML5<br>
  IDE: SublimeText, Photoshop<br>


/* SPECIAL THANKS */<br>
  Developer / Backend : Luciano Marcos Solis<br>
  Twitter: @vash512<br>
<br>
  And, of course, all humanstxt.org team!<br>
  
</body>
</html>
