{% extends 'home/base.html' %}

{% block titulo %}Usuario sin Permiso!{% endblock %}

{% block contenido %}
	<div id="stylized" class="myform">
		<div>{% csrf_token %}
			<img src="{{STATIC_URL}}img/logoAccell2.png" id="imgLogo"/>
			
			<h1>Lo Sentimos!, :(</h1>
			<p>Al parecer ud. no tiene previlegios para acceder a esta secci&oacute;n.</p>
			<p>Consulte a su Administrador. </p>
			<img src="{{STATIC_URL}}img/user2.png"/>
			<div class="spacer"></div>
			<a href="/">Regresar</a>
		</div>
	</div>
{% endblock %}