{% extends 'home/base.html' %}

{% block titulo %}Usuario Aun no Declarado{% endblock %}

{% block contenido %}
	<div id="stylized" class="myform">
		<form id="formulario" method='post' name="form" method="post" action="">{% csrf_token %}
			<img src="{{STATIC_URL}}img/logoAccell2.png" id="imgLogo"/>
			
			<h1>Usuario No Declarado!</h1>
			<p>Al parecer la cuenta con la que trata de entrar no tiene permisos o acceso a este sistema. </p>
			<p>Consulte a su Administrador. </p>

			<div class="spacer"></div>
			<a href="/">Regresar</a>
		</form>
	</div>
{% endblock %}