{% extends 'admingral/admin-base.html'  %}

{% block titulo  %}@Agregar nuevo Plan @Planes Tarifarios{% endblock  %}

{% block contenido  %}
<div id="content">
	<section id="row">
		<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
			{% csrf_token  %}
			<div class="info">
				<h2>Nuevo Plan</h2>
			</div>
			<ul>
				<li class="section first">
					<h3>Registro de nuevos Planes Tarifarios</h3>
				</li>
				<li><strong>Plan</strong></li>
				{% for field in form %}
				<li>
					<label class="desc">{{field.label}}</label> 
					<div>
						{{field}}
					</div>
					<label> {{field.help_text}} <small><span class="req"> {{field.errors}} </span></small></label>
				</li>
				{% endfor %}
				<li><strong>Detalle del Plan</strong></li>
				{% for field in form2 %}
				<li>
					<label class="desc">{{field.label}}</label> 
					<div>
						{{field}}
					</div>
					<label> {{field.help_text}} <small><span class="req"> {{field.errors}} </span></small></label>
				</li>
				{% endfor %}
				<li><strong>{{ info}}</strong></li>
				<li id="buttons">
					<input class="submit success" type="submit" value="Guardar Cambios"/> |  
					<a class="success button" href="." title="Limpiar Campos, la informacion anterior se perdera">Nuevo</a>
				</li>
			</ul>
		</form>

	</section>
</div>
{% endblock  %}