<!DOCTYPE>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name = "viewport" content = "width=device-width, maximum-scale = 1, minimum-scale=1" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/structure.css" media="all" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/theme2.css" media="all" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buttons.css"  />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flexslider.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fuentes.css" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" type="image/x-icon" href="http://dhtml5.comoj.com/images/favicon.ico" />
		<script src="{{STATIC_URL}}js/wufoo.js"></script>
 		<script src="{{STATIC_URL}}js/jquery-1.2.1.pack.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="{{STATIC_URL}}js/jquery.flexslider.js"></script>
		<script src="{{STATIC_URL}}js/default.js"></script>
		{% block miscript %}
		{% endblock %}
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<title>@CM - {% block titulo %}{% endblock %}</title>
	</head>
	<body>
		<div id="pagewidth">
			<header id="header">
				<img src="{{STATIC_URL}}img/logoAccell2.png" id="imgLogo"/>
				<div id="Logo"><h1><a href=".">Excess Complet Cellulaire</a></h1></div>
			</header>
			<nav id="minav">
				<div class="center">
					<ul class="navh">
						<li><a href="/administracion/" class="tooltipbasic" data-tooltip="Ir a la Pagina de Bienvenida">Inicio</a></li>
						{% if nivel == 0 or nivel == 1 %}
						<li><a href="/contabilidad" class="tooltipbasic" data-tooltip="Area de contabildad">Contabilidad</a></li>
						<li><a href="/compras" class="tooltipbasic" data-tooltip="Area de compras">Compras</a></li>
						<li class="dropdownh">
							<a href="#" class="tooltipbasic" data-tooltip="Area de Ventas">Ventas</a>
							<ul>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="Nivel de Gerencia">Gerencia</a>
									<ul>
										<li><a href="/administracion/ventas/gerencia/reportes" class="tooltipbasic" data-tooltip="Consulta y reporte de activaciones realizadas en sucursales">Reportes</a></li>
										<li><a href="/administracion/ventas/gerencia/eventos" class="tooltipbasic" data-tooltip="Consulta de Sucursales">Sucursales</a></li>
										<li class="dropdownh">
											<a href="#" class="tooltipbasic" data-tooltip="Amonestaciones">Amonestaciones</a>
											<ul>
												<li><a href="/administracion/ventas/gerencia/amonestacion/agregar" class="tooltipbasic" data-tooltip="Agregar amonestacion">Agregar</a></li>
												<li><a href="/administracion/ventas/gerencia/amonestacion/consultar" class="tooltipbasic" data-tooltip="Consulta y reporte de Amonestaciones">Consultar</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="Apartados">Apartados</a>
									<ul>
										<li><a href="/administracion/ventas/apartados/clientes" class="tooltipbasic" data-tooltip="Catalogo de clientes">Clientes</a></li>
										<li><a href="/administracion/ventas/apartados/historial" class="tooltipbasic" data-tooltip="Consulta y reporte de historial de clientes">Historial</a></li>
									</ul>
								</li>
								<li><a href="/administracion/ventas/caja_sucursales" class="tooltipbasic" data-tooltip="Reporte de Ventas al momento">Caja/Sucursales</a></li>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="Metas por sucursal">Metas</a>
									<ul>
										<li><a href="/administracion/ventas/metas/asignar" class="tooltipbasic" data-tooltip="Asignacion de metas a vendedores">Asignar</a></li>
										<li><a href="/administracion/ventas/metas/consultar" class="tooltipbasic" data-tooltip="Consulta y reporte de metas">Consultar</a></li>
									</ul>
								</li>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="Sanciones $Economicas">Sanciones</a>
									<ul>
										<li><a href="/administracion/gerencia/sancion/agregar" class="tooltipbasic" data-tooltip="Agregar Sanciones">Agregar</a></li>
										<li><a href="/administracion/gerencia/sancion/consultar" class="tooltipbasic" data-tooltip="Consulta y reporte de Sanciones">Consultar</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="dropdownh">
							<a href="#" class="tooltipbasic" data-tooltip="Activaciones Prepago">Activaciones</a>
							<ul>
								<li><a href="/administracion/activaciones/reporte" class="tooltipbasic" data-tooltip="Consulta y reportes de equipos y express">Reporte</a></li>
							</ul>
						</li>
						<li class="dropdownh">
							<a href="#" class="tooltipbasic" data-tooltip="Area de planes tarifarios">Planes Tarifarios</a>
							<ul>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="Planes ingresados por sucursales">Solicitudes</a>
									<ul>
										<li><a href="/administracion/planes/solicitudes/todos" class="tooltipbasic" data-tooltip="Planes ingresados">Todos</a></li>
									</ul>
								</li>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="Actualizacion de planes">Servicios</a>
									<ul>
										<li><a href="/administracion/planes/servicios/reportes" class="tooltipbasic" data-tooltip="Planes Modificados">Reporte</a></li>
									</ul>
								</li>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="Planes ingresados por sucursales">Portabilidades</a>
									<ul>
										<li><a href="/administracion/planes/portabilidades/consultar" class="tooltipbasic" data-tooltip="Consulta y actualizacion de solicitud">Consultar</a></li>
									</ul>
								</li>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="Planes Existentes">Catalogo Planes</a>
									<ul>
										<li><a href="/administracion/planes/planes/nuevo" class="tooltipbasic" data-tooltip="Nuevo plan">Nuevo</a></li>
										<li><a href="/administracion/planes/planes/actualizar" class="tooltipbasic" data-tooltip="Consulta y actualizacion de Plan">Actualizar</a></li>
									</ul>
								</li>
								<li><a href="/administracion/sucursales/papeletas" class="tooltipbasic" data-tooltip="Consulta y reporte de Papeletas ingresadas">Papeletas</a></li>
							</ul>
						</li>
						<li class="dropdownh">
							<a href="#" class="tooltipbasic" data-tooltip="Servicios tecnicos">Servicios</a>
							<ul>
								<li><a href="/administracion/servicios/catalogo/reporte" class="tooltipbasic" data-tooltip="Catalogo de reparaciones">Catalogo/Rep.</a></li>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="Clientes de reparaciones">Clientes Rep.</a>
									<ul>
										<li><a href="/administracion/servicios/clientes/historial" class="tooltipbasic" data-tooltip="Consulta y reporte de historial de clientes de reparacion">Historial</a></li>
									</ul>
								</li>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="Seguimiento de servicios">Seguimiento</a>
									<ul>
										<li><a href="/administracion/servicios/seguimiento/flexeo_porta" class="tooltipbasic" data-tooltip="Seguimiento de flexeos por portabilidad">Flexeo Porta</a></li>
										<li><a href="/administracion/servicios/seguimiento/flexeos" class="tooltipbasic" data-tooltip="Seguimiento de flexeos con costo">Flexeos</a></li>
										<li><a href="/administracion/servicios/seguimiento/reparaciones" class="tooltipbasic" data-tooltip="Seguimiento de reparaciones fisicas">Reparacion fisica</a></li>
									</ul>
								</li>
								<li class="dropdownh">
									<a href="#" class="tooltipbasic" data-tooltip="inventario de servicios">Inventario</a>
									<ul>
										<li><a href="/administracion/servicios/inventario/accesorios" class="tooltipbasic" data-tooltip="Accesorios existentes">Accesorios</a></li>
										<li><a href="/administracion/servicios/inventario/refacciones" class="tooltipbasic" data-tooltip="Refacciones existentes">Refacciones</a></li>
										<li><a href="/administracion/servicios/inventario/eqobsoletos" class="tooltipbasic" data-tooltip="Equipos obsoletos">Eq.Obsoletos</a></li>
									</ul>
								</li>
							</ul>
						</li>
						{%endif %}
						<li><a href="/cerrar">Salir</a></li>
					</ul>
			</div>
			</nav>
			<aside id="sidebar">
				<ul class="nav">
					{% if nivel == 0 or nivel == 1 %}
					<li class="dropdown">
						<a href="#" title="Areas">Departamentos</a>
						<ul>
							<li><a href="/administracion/departamentos/reporte" class="tooltipbasic2" data-tooltip="Reporte de departamentos">Reporte</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" title="Sucursales">Sucursales</a>
						<ul>
							<li><a href="/administracion/sucursales/reporte" class="tooltipbasic2" data-tooltip="Sucursales activas">Reporte Suc.</a></li>
							<li><a href="/administracion/sucursales/vendedores" class="tooltipbasic2" data-tooltip="Vendedores">Vendedores</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" title="Administracion General">Admin.Contab.</a>
						<ul>
							<li><a href="/administracion/admin_contab/metas" class="tooltipbasic2" data-tooltip="Metas Globales">Metas</a></li>
							<li><a href="/contabilidad/nomina/empleados/estado_cta/historial/" class="tooltipbasic2" data-tooltip="Consulta de estados de cuenta de empleados">Edo.Cta.</a></li>
							<li><a href="/contabilidad/nomina/nominas/" class="tooltipbasic2" data-tooltip="Actualizacion de nominas">Actualizar Nomina</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" title="Autorizacion de cancelaciones de ventas en sucursales">Autorizaciones</a>
						<ul>
							<li><a href="/administracion/autorizaciones/cancelaciones" class="tooltipbasic2" data-tooltip="Reporte de cancelaciones realizadas">Cancelaciones</a></li>
							<li><a href="/administracion/autorizaciones/papelera" class="tooltipbasic2" data-tooltip="Historial de Cancelaciones Autorizadas">Papelera</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" title="Usuarios">Usuarios</a>
						<ul>
							<li><a href="/administracion/usuarios/agregar/" class="tooltipbasic2" data-tooltip="Nuevo usuario">Nuevo</a></li>
							<li><a href="/administracion/usuarios/actualizar/" class="tooltipbasic2" data-tooltip="Consulta y Actualizacion">Usuarios</a></li>
							<li><a href="/administracion/usuarios/vendedores/" class="tooltipbasic2" data-tooltip="Acceso Sucursal Vendedor">Suc.-Vendedor</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" title="Reportes" >Reportes</a>
						<ul>
							<li><a href="/compras/almacen/reporte/" class="tooltipbasic2" data-tooltip="Compras ingresadas a almacen">Facturas</a></li>
							<li><a href="/contabilidad/facturacion/facturas/reporte" class="tooltipbasic2" data-tooltip="Vtas Facturadas">Facturaciones</a></li>
							<li><a href="/contabilidad/facturacion/equipo/pendiente" class="tooltipbasic2" data-tooltip="Vtas pendientes por facturar eq.">Fact.Pendientes</a></li>
							<li><a href="/administracion/reportes/pro_sin_mov" class="tooltipbasic2" data-tooltip="Productos sin movimiento">Prod.Sin Mov.</a></li>
							<li><a href="/compras/garantias/solicitudes/" class="tooltipbasic2" data-tooltip="Reporte de Garantias">Garantias</a></li>
							<li><a href="/planes/activar/consultar/" class="tooltipbasic2" data-tooltip="Reporte de Planes activados">Planes Activ.</a></li>
							<li><a href="/administracion/ventas/caja_sucursales/" class="tooltipbasic2" data-tooltip="Reporte de Ventas por Sucursal">Vtas Suc.</a></li>
							<li><a href="/compras/compras/pedidos/" class="tooltipbasic2" data-tooltip="Reporte de Mensajes a almacen/sistema">Mensajes</a></li>
						</ul>
					</li>
					{%endif %}
				</ul>

				<p align="center"><SCRIPT language="javascript">
					function greeting(){   
					        var today = new Date();   
					        var hrs = today.getHours();   
					        document.writeln("<CENTER>");   
					        document.write("<div id='Calendario'>Buen@s ");   
					        if (hrs < 6)      document.write("(y tempranos) días");   
					        else if (hrs < 12)      document.write("días");   
					        else if (hrs <= 19)      document.write("tardes");   
					        else      document.write("Noches");   document.writeln("!</div>");   
					        document.writeln("</CENTER>");  
					}
					function getmon(m0, m1, m2, m3, m4, m5, m6, m7, m8, m9, m10, m11)
					{
					   this[0] = m0;
					   this[1] = m1;
					   this[2] = m2;
					   this[3] = m3;
					   this[4] = m4;
					   this[5] = m5;
					   this[6] = m6;
					   this[7] = m7;
					   this[8] = m8;
					   this[9] = m9;
					   this[10] = m10;
					   this[11] = m11;
					}
					function calendar()
					{
					   var monthNames = "EneFebMarAbrMayJunJulAgoSepOctNovDic";
					   var today = new Date();
					   var thisDay;
					   var monthDays = new getmon(31, 28, 31, 30, 31, 30, 31, 31, 30,
					      31, 30, 31);
					      year = today.getFullYear();
					   thisDay = today.getDate();
					      if (((year % 4 == 0) && (year % 100 != 0)) || (year % 400 == 0))
					      monthDays[1] = 29;
					   nDays = monthDays[today.getMonth()];
					   firstDay = today;
					   firstDay.setDate(1);
					   startDay = firstDay.getDay();
					   document.writeln("<center><small>");
					   document.write("<table border=3 cellpadding=1>");
					   document.write("<tr><th colspan=7><font size=2>");
					   document.write(monthNames.substring(today.getMonth() * 3,
					      (today.getMonth() + 1) * 3));
					   document.write(". ");
					   document.write(year);
					   document.write("<tr><th>");
					  document.write("D<th>L<th>M<th>Mi<th>J<th>V<th>S");
					   document.write("<tr>");
					   column = 0;
					   for (i=0; i<startDay; i++)
					   {
					   document.write("<td align=center>");
					      column++;
					      document.write("");
					   }
					   for (i=1; i<=nDays; i++)
					   {
					   document.write("<td align=center>");
					      if (i == thisDay)
					         document.write("<font color=\"red\"  size=2><b>")
					      document.write(i);
					      if (i == thisDay)
					        document.write("</font></b>")
					      column++;
					      if (column == 7)
					      {
					     document.write("<tr>");
					         column = 0;
					      }
					   }
					   document.write("</table></small>");
					}
					greeting();
					calendar();
					document.write();
					function shutdown(){
						window.close()
					}
					</SCRIPT>
				</p>
			</aside>
			{% block contenido %}{% endblock %}
			<footer id="footer">
				<div class="center">
				<a href="#">Soporte T&eacute;cnico</a>
			</div></footer>
		</div>
	</body>
</html>