{% extends 'admingral/admin-base.html' %}

{% block titulo %}@cambios en Vendedores a sucursales{% endblock %}

{% block contenido %}
<div id="content">
	<section id="row">
		<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="info">
					<h2>Usuarios - Vendedores a sucursal</h2>
					<div>Un vendedor solamente puede permanecer a una sucursal, utilice esta seccion si desea que el Empleado, atienda otra sucursal.</div>
				</div>
				<ul>
					<li class="section first">
						<h3>Datos Generales</h3>
					</li>
					{% for field in form %}
						<li>
							<label class="desc">{{field.label}}</label> 
							<div>
								{{field}}
							</div>
							<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
						</li>
					{% endfor %}
					<li><strong>{{ info }}</strong></li>
					<li id="buttons">
						<input class="submit success" type="submit" value="Guardar"/> |  
						<a class="success button" href="." title="Agregar Nuevo">Agregar Otro</a>
						<BR /><span class="req">*.Campos Obligatorios. No dejar vacios.</span>
					</li>
				</ul>
			</form>
			

	</section>
</div>
{% endblock %} 