{% extends 'admingral/base-ticket.html' %}
{% block miscript %}
<style type="text/css">
a{
	text-decoration: none;
}
.button{
	/* estilos tipograficos */
	
	color: #fff;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	
	/* padding, margin y borde */
	
    padding: 1em 2em;
	margin-right: 1.5em;
	cursor: pointer;
	border: 0;
    border-radius: 2em;

	/* propiedades para la animacion  */
	
	transition: all 0.20s linear;
	-webkit-transition: all 0.20s linear;
	-moz-transition: all 0.20s linear;
	position: relative;
	bottom: 0;
}
.azul{
	background: #04a8bf;
	box-shadow: 0px 5px 0 #0491a5;
}
.button:active{
	bottom: -5px;
}
.azul:active{
	box-shadow:0 0 0 #0491a5, inset 0 0 5px rgba(0, 0, 0, 0.4);			
}
.rojo{
	background: #bf1b04;
	box-shadow: 0px 5px 0 #8F1502;			
}
.rojo:active{
	box-shadow:0 0 0 #9a1604, inset 0 0 5px rgba(0, 0, 0, 0.4);			
}
table.simple {
	font-family: 'Roboto Slab',Arial,Tahoma,sans-serif;
	font-size: 0.580em;
	border-width: 0px;
	border-spacing: 1px;
	border-style: hidden;
	border-collapse: collapse;
	background-color: white;
	width: 250px;
	vertical-align: center;
}
table.simple th {
	border-width: thin;
	padding: 3px 12px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
}
table.simple td {
	border-width: thin;
	padding: 3px 12px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
}
table.simple2 {
	font-family: 'Roboto Slab',Arial,Tahoma,sans-serif;
	font-size: 0.580em;
	border-width: 0px;
	border-spacing: 1px;
	border-style: dotted hidden;
	border-collapse: collapse;
	background-color: white;
	width:250px;
	vertical-align: center;
}
table.simple2 th {
	border-width: thin;
	padding: 3px 12px;
	border-style: dashed dashed;
	background-color: white;
}
table.simple2 td {
	border-width: thin;
	padding: 3px 12px;
	border-style: dashed;
	background-color: white;
	width: 90%;
}
table.simple2 td:first-child{
	text-align: center;
	width:4%;
	border-style: dashed;
	border-width: thin;
}
table.simple2 td:last-child {
	text-align: center;
	width: 4%;
	border-style: dashed;
	border-width: thin;
}
hr.comon{
	border-style: dashed;
	border: 1px;
	width: 200px;
	vertical-align: left;
}
</style>
<style type="text/css" media="print">
@media print {
	.button {display:none;}
	.azul {display:none;}
	.rojo {display:none;}
}
</style>
{% endblock %}
{% block titulo %}@Ticket{% endblock %}

{% block contenido %}
{%if info %}
<strong>{{ info }} </strong>
{%else %}
<div id="ticket"> 
	{%for x in aio %}
	<table class="simple">
		<tr>
			<th colspan="2">GRUPO ACCELL</th>
		</tr>
		<tr>
			<th>Folio:</th><th>{{ x.0.folioVenta|upper }} </th>
		</tr>
		<tr>
			<th>Fecha:</th><th>{{ x.0.fecha|date:"Y-m-d h:i a" }}</th>
		</tr>
		<tr>
			<th>Sucursal:</th><th>{{ x.0.sucursal.nombre|title }} </th>
		</tr>
		<tr>
			<th>Direccion:</th>
			<th>{{ x.0.sucursal.direccion|title }}. {{ x.0.sucursal.colonia.colonia|title }}. {{ x.0.sucursal.cp.cp|title }}. {{ x.0.sucursal.ciudad.ciudad|title }}, {{ x.0.sucursal.ciudad.estado|title }}.</th>
		</tr>
		{%if x.0.credito %}
		<tr>
			<th>Venta:</th><th>Credito</th>
		</tr>
		{%elif x.0.mayoreo %}
		<tr>
			<th>Venta:</th><th>Mayoreo</th>
		</tr>
		{%endif %}
	</table>
	<hr class="comon">
	<table class="simple2">
		<tr>
			<th>Producto</th>
			<th>Descripcion</th>
			<th>Importe</th>
		</tr>
		{%for equipoV in x.1 %}
		<tr>
			<td>Equipo </td>
			<td>{{equipoV.equipo.detallesEquipo.marca.marca|title}} {{equipoV.equipo.detallesEquipo.modelo|title}} Imei: {{equipoV.equipo.imei}} Icc: {{equipoV.equipo.icc}}</td>										
			<td>{{equipoV.precVenta}} </td>
		</tr>
		{%endfor %}
		{%for expV in x.2 %}
		<tr>
			<td>Express </td>
			<td>{{expV.expres.detallesExpres.tipoIcc.tipo}} - {{expV.expres.icc}}</td>
			<td>{{expV.precVenta}} </td>
		</tr>
		{%endfor %}
		{%for acV in x.3 %}
		<tr>
			<td>Acc. </td>
			<td>{{acV.accesorio.detallesAccesorio.seccion.seccion}} | {{acV.accesorio.codigoBarras}} - {{acV.accesorio.detallesAccesorio.marca}} {{acV.accesorio.detallesAccesorio.descripcion}}</td>
			<td>{{acV.precVenta}} </td>
		</tr>
		{%endfor %}
		{%for ficV in x.4 %}
		<tr>
			<td>Ficha </td>
			<td>{{ficV.ficha.nominacion.nominacion}} - {{ficV.ficha.folio}}</td>
			<td>{{ficV.precVenta}} </td>
		</tr>
		{%endfor %}
		{%for recV in x.5 %}
		<tr>
			<td>Recarga </td>
			<td>{{recV.recarga.montos.monto}} - {{recV.recarga.folio}} <br> Observaciones:<br>{{ recV.observaciones|default:'Ninguna'}}</td>
			<td>{{recV.precVenta}} </td>
		</tr>
		{%endfor %}
		{%for planV in x.6 %}
		<tr>
			<td>Plan </td>
			<td>{{planV.plan.plan}} - {{planV.observacion|default:'Ninguna'}}</td>
			<td>{{planV.precVenta}} </td>
		</tr>
		{%endfor %}
		{%for rV in x.7 %}
		<tr>
			<td>Renta</td>
			<td>Cuenta: {{rV.numeroReferencia}} <br> Observaciones:<br>{{ rV.observacion|default:'Ninguna'}} </td>
			<td>{{rV.abono}} </td>
		</tr>
		{%endfor %}
		{%if x.0.credito %}
		{# no mostrar el #}
		{%else %}
		{%for an in x.8 %}
		<tr>
			<td>Anticipo</td>
			<td>{{ an.tipoAnticipo|upper }} <br>{{ an.observacion|default:''|upper }} </td>
			<td>{{an.monto}}</td>
		</tr>
		{%endfor %}
		{%endif %}
		<tr>
			<td colspan="2" style="text-align:right;font-weight: bold;">Total Venta:</td>
			<td>{{ x.0.total|default:'0'}}</td>
		</tr>
	</table>
	{%if x.9 %}
	<hr class="comon">
	<table class="simple2">
		{%for an in x.8 %}
		<tr>
			<td>Anticipo</td>
			<td>{{ an.tipoAnticipo|upper }} <br>{{ an.observacion|default:''|upper }} </td>
			<td>{{an.monto}}</td>
		</tr>
		{%endfor %}
	</table>
	<hr class="comon">
	<table class="simple">
		{%for c in x.9 %}
		<tr>
			<th>Folio:</th><td>{{ c.folioc|upper }} </td>
		</tr>
		<tr>
			<th>Cliente:</th><td>{{ c.subdist.cliente.rfc|upper }} {{ c.subdist.cliente.razonSocial|title}} {{ c.subdist.cliente.direccion|title }} </td>
		</tr>
		<tr>
			<th>Plazo:</th><td>{{ c.plazo|default:'0' }} </td>
		</tr>
		<tr>
			<th>Observaciones:</th><td>{{ c.observacion|default:'Ninguna'}} </td>
		</tr>
		{%endfor %}
	</table>
	{%endif %}
	{%if x.10 %}
	<hr class="comon">
	<table class="simple">
		{%for c in x.10 %}
		<tr>
			<th>Cliente:</th><td>{{ c.clienteMayoreo.cliente.rfc|upper}} {{ c.clienteMayoreo.cliente.razonSocial|title}} {{ c.clienteMayoreo.cliente.direccion|title }}</td>
		</tr>
		<tr>
			<td colspan="2"><strong>Descuentos Autorizados</strong>Fichas: {{ c.clienteMayoreo.descuentoFichas }} %, Recargas {{  c.clienteMayoreo.descuentoRecargas }} % </td>
		</tr>
		{%endfor %}
	</table>
	{%endif %}	
	{%endfor %}
	<hr class="comon">
	<table class="simple">
		<tr>
			<th colspan="3">***Este ticket no cuenta con valor fiscal***</th>
		</tr>
		<tr>
			<th colspan="3">***Gracias por su Compra!***</th>
		</tr>
	</table>
</div>
<div style="clear:both;height:4em;"></div>
<a href="javascript:window.print()" class="button azul">Imprimir</a>   
{%endif %}
<a href="javascript:close();" class="button rojo">Cerrar ventana</a>
{% endblock %}