{% extends 'contabilidad/conta-base.html' %}

{% block titulo %}--Gerencia--{% endblock %}

{% block contenido %}
<div id="content">

	<section id="row">
		<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="info">
					<h2>Usuarios</h2>
					<div>Actualizar Usuario, si inactiva el usuario, este no podra ingresar al sistema</div>
				</div>
				<ul>
					<li class="section first">
						<h3>Datos Generales</h3>
					</li>
					{% for field in form %}
						{%if field.label == 'Key' %}
									{{ field.as_hidden }}
						{% else %}
						<li>
							<label class="desc">{{field.label}}</label> 
							<div>
								{{field}}
							</div>
							<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
						</li>
						{%endif %}
					{% endfor %}
					<li><strong>{{ info }}</strong></li>
					<li id="buttons">
						{%if form%}
						<input class="submit success" type="submit" value="Guardar"/> |  
						{%endif %}
						<a class="success button" href="." title="buscar otro">Buscar Otro</a>
						<BR /><span class="req">*.Campos Obligatorios. No dejar vacios.</span>
					</li>
				</ul>
			</form>
			{%if usuario %}
				<br>
				<br>
				<div class="info">
					<h2>Datos de La Cuenta del Usuario:</h2>
				</div>
				<div id="twoCol">
					<table id="twoCol">
						<tr>
							<td>Nombre del Usuario</td>
							<td>{{usuario.user.username}}</td>
						</tr>
						<tr>
							<td>Privilegios</td>
							<td>{{usuario.permiso.descripcion}}</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:center;">Empleado</td>
						</tr>
						<tr>
							<td>Nombre</td>
							<td>{{usuario.empleado.nombre}} {{usuario.empleado.aPaterno}} {{usuario.empleado.aMaterno}}</td>
						</tr>
						<tr>
							<td>Puesto</td>
							<td>{{usuario.empleado.puesto}}</td>
						</tr>
						<tr>
							<td>Area</td>
							<td>{{usuario.empleado.area}}</td>
						</tr>
						<tr>
							<td>Estado Activo del empleado</td>
							<td>{%if usuario.empleado.estadoEmpleado %}<img src="{{STATIC_URL}}img/icons/tick.png" />{%else %}<img src="{{STATIC_URL}}img/icons/exclamation.png" />{%endif %}</td>
						</tr>
						
					</table>
				</div>
			{%endif %}
			
	</section>
</div>
{% endblock %}