{% extends 'contabilidad/conta-base.html' %}
 'corte':corte, 'cortes':dortes, 'veri':veri, 2717
{% block titulo %}--Contabilidad{% endblock %}

{% block contenido %}
<div id="content">
	<section id="row">
		<div class="info">
			<h2>Verificacion de Cortes de Caja</h2>
		</div>
			<strong>{{ mensaje }}</strong>
			
			{{buscador|safe}}

			{%if cortes %}
			{{cortes|safe}}
			{%endif %}

			{%if corte %}
			<h2>Verificacion del corte {{corte}}</h2>
			<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
				<input type="hidden" name='idC' value="{{corte.id}}"/> 
				{% csrf_token %}
				<div id="form2">
					<table id="form2">
						{{veri}}
					</table>
				</div>
				<div style="text-align:center;padding-top:0.5em;">
						<input class="submit success" type="submit" name='verificacion' value="Verificar Corte de Venta"/> 
				</div>
			</form>
			{%endif %}
	</section>
	<br><br><br>
</div>
{% endblock %}