{% extends 'servicios/servicios-base.html' %}

{% block titulo %}@Identificacion de Usuario @Servicios{% endblock %}

{% block contenido %}
<div id="content">
	<section id="row">
		<form class="wufoo" action="." method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="info">
					<h2>Verificacion de Usuario:</h2>
					<div>Para Ingresar a esta seccion es necesario identificarse nuevamente.</div>
				</div>
				<ul>
					<li class="section first">
						<h3></h3>
					</li>
					{% for field in verificarForm %}
						<li>
							<label class="desc">{{field.label}}</label> 
							<div>
								{{field}}
							</div>
							<label> {{field.help_text}} <span class="req"> {{field.errors}} </span></label>
						</li>
					{% endfor %}
					<li><strong>{{ info }}</strong></li>
					<li id="buttons">
						<input class="submit success" type="submit" name="identificarse" value="Identificarse"/>
						<input type="hidden" name="thisCorte" value="{{thisCorte}}"/>
						<BR /><span class="req">*.Campos Obligatorios. No dejar vacios.</span>
					</li>

				</ul>
		</form>
	</section>
	<br><br><br>
</div>
{% endblock %}