{% extends 'servicios/servicios-base2.html' %}

{% block titulo %}@Solicitudes de Reparaciones Fisicas y de Software @Servicios Tecnicos{% endblock %}

{% block contenido %}
<div id="content2">
	<section id="row">
		<form class="wufoo" action="." method="GET" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="info">
				<h2>Clientes de Servicio Tecnico - Reparaciones</h2>
				<div>Equipos para Reparacion Fisica y Carga de Software</div>
			</div>
			<ul>
				<li class="section first">
					<h3>Buscar Cliente:</h3>
				</li>
				<li>
					<label class="desc">Cliente: <span class="req">*</span></label>
					<div>
						<input class="field text medium" type="text" value="{{ query|escape}}" name="q" title="Buscar Cliente, incluya nombre o folio del cliente o sucursal, CLIENTES CON SERVICIO/Equipos en Reparacion fisica"; placeholder="Ej. Jhon Perez" required />
					</div>
					<p class="instruct">Ingrese Nombre del cliente | folio del cliente | Sucursal Gracias. Solo se reflejaran los que tengan equipo en reparacion fisica o carga de celular</p>
				</li>
				<li id="buttons">
					<input name="buscar" class="submit success" type="submit" value="Buscar"/>  |  
					<a class="success button" href="/servicios/solicitudes/reparacion_fisica/" title="Nueva busqueda">Nueva Busqueda</a>
				</li>
				<li>
					<strong>{{ info }}</strong>
				</li>
			</ul>
		</form>
		
	</section>
	
		<section id="row">
			<h3>Equipos en Reparacion Fisica o Carga de Software</h3>
			{% if reparaciones %}
			<div id="grid">
				<table id="grid">
					<tr>
						<td id="gridhead" title="Tipo de Reparacion">Tipo</td>
						<td id="gridhead">Sucursal</td>
						<td id="gridhead">Nombre</td>
						<td id="gridhead">Direccion</td>
						<td id="gridhead">Equipo</td>
						<td id="gridhead">Costo</td>
						<td id="gridhead">Estado</td>
						<td id="gridhead" colspan="2" title='Accion a Realizar'>Revisar</td>
					</tr>
					{% for rep in reparaciones %}
						<tr>
						{% if rep.reparacion.tipoReparacion.tipo == 'Flexeos' %}
							<td>{{ rep.reparacion.tipoReparacion.tipo|title }} </td>
							<td>{{ rep.sucursal.nombre|title }} </td>
							<td>{{ rep.cliente.nombre|title}} </td>
							<td colspan="5"> No pertenece a esta seccion </td>
						{% else %}
							<td>{{ rep.reparacion.tipoReparacion.tipo|title }} </td>
							<td>{{ rep.sucursal.nombre|title }} </td>
							<td>{{ rep.cliente.nombre|title}} </td>
							<td>{{ rep.cliente.direccion|title }}.{{ rep.cliente.colonia.colonia|title }}, {{ rep.cliente.ciudad.ciudad|title }}, {{ rep.cliente.ciudad.estado|title }}.</td>
							<td>{{ rep.marcaModelo|title }} {{ rep.imei }} <br> {{ rep.cliente.fxIngreso|date:"Y-m-d h:i a"}} </td>
							<td>{{ rep.reparacion.monto }} </td>
							<td>{{ rep.estado.estado|title }} / {{ rep.fxRevision|date:"Y-m-d h:i a" }} </td>
							<td>
							<form class="wufoo" action="/servicios/clientes_rep/historial/" method="GET" enctype="multipart/form-data">{% csrf_token %}
								<input name="histRep" type="image" src="/static/img/icons/zoom_refresh.png" title="Ver Historial" value="{{ rep.id }}" />
							</form>
							</td>
							<td>
								<form class="wufoo" action="/servicios/seguimiento/reparacion_fisica/" method="GET" enctype="multipart/form-data">{% csrf_token %}
									<input name="upd" type="image" src="/static/img/icons/report_edit.png" title="Actualizar Datos" value="{{ rep.id }}" />
								</form>
							</td>
						{%endif %}
						</tr>
					{%endfor %}
				</table>
			</div>
				<div class="pagination">
				    <span class="step-links">
				        {% if reparaciones.has_previous %}
				            <a class="success button" href="?pagina={{ reparaciones.previous_page_number }}&amp;q={{ query }}">...Anterior</a>
				        {% endif %}

				        <span class="current">
				            Pagina {{ reparaciones.number }} de {{ reparaciones.paginator.num_pages }}.
				        </span>

				        {% if reparaciones.has_next %}
				            <a class="success button" href="?pagina={{ reparaciones.next_page_number }}&amp;q={{query}}">Siguiente...</a>
				        {% endif %}
				    </span>
				</div>
		
			{% else %}
				<p>El cliente no se encuentra o no pertenece a esta seccion. <br> verifique sus datos</p>
			{% endif %}
		</section>
	<br><br>
</div>
{% endblock %}