{% extends 'servicios/servicios-base.html' %}

{% block titulo %}@Bienvenido a @Servicios Tecnicos{% endblock %}

{% block contenido %}
<div id="content">
	<section id="row">
		<div class="info"><h3>Operaciones en Ventas</h3></div>
			<center>
                <p>La Operacion se realizo correctamente.</p>
                <p>{{ mensaje }}</p>
                <p><a href="{{ url }}"><img alt="go_back" title="Regresar" src="{{STATIC_URL}}img/operaciones.png"/><br> <h1>Regresar</h1> </a></p>
            </center>
		<div style="height:100%;"></div>
	</section>
</div>
{% endblock %}